.user-items-main{
    width:100%

}
.each-item-div{
    display: flex;
    border: 2px solid gray;
    background-color: linen;
}

.item-div{
    display:flex;
    width:100%;
    justify-content: space-around;
    


}
.each-el-item{
    width: 25%;
    text-align: center;

}

.title-div{
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
}
.user-title{
    text-align: center;
}